---
import type { CollectionEntry } from "astro:content";
import { minuteRead } from "../utils";
import PostInfo from "./PostInfo.astro";

type Props = CollectionEntry<"posts">;

const { data, body, slug } = Astro.props;

const { title, description, pubDate, canonical } = data;
---

<article>
  <header class="mb-2">
    <h3 class="mb-2">
      <a
        class="text-2xl font-bold text-gray-900 font-display"
        href={`/posts/${slug}`}
      >
        {title}
      </a>
    </h3>
    <PostInfo pubDate={pubDate} minutes={minuteRead(body)} canonical={canonical} />
  </header>
  <section>
    <p class="mb-12 text-lg text-gray-800">{description}</p>
  </section>
</article>
