---
import type { CollectionEntry } from "astro:content";
import { minuteRead } from "../utils";
import Layout from "./Layout.astro";
import PostInfo from "../components/PostInfo.astro";

type Props = CollectionEntry<"posts">;

const { data, body } = Astro.props;
const { title, pubDate, description, canonical, thumbnail } = data;
---

<Layout thumbnail={thumbnail} title={title} description={description}>
  <article>
    <header class="mb-8 mt-6">
      <h1
        class="mb-6 text-4xl sm:text-5xl lg:text-6xl font-black leading-none font-display"
      >
        {title}
      </h1>
      <PostInfo pubDate={pubDate} minutes={minuteRead(body)} canonical={canonical} />
    </header>
    <div class="mb-4 prose-sm prose sm:prose lg:prose-lg">
      <slot />
    </div>
  </article>
</Layout>
